In [1]:
#-*- encoding: utf-8 -*-. -
# version : 4th com / 환경이름 es
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pickle

# x=df.index

# 우울증 관련 문항들은 질병조사
# 14년도부터 시작이지만, 16는 5문항이어서 조금 다르고
# 18, 20년이 거의 동일

In [2]:
header = pd.read_excel("농업인DB(20181222)nan.xlsx", nrows=0)
da_1 = pd.read_excel('농업인DB(20181222)nan.xlsx', skiprows = [1]) # ' ' 을 nan으로 바꿔둔 데이터셋  isna.sum 으로 걸러내기 위해

In [3]:
da_1 = da_1.iloc[:,1:]

In [4]:
print('# 설정 되어있는 폰트 글꼴')
print (plt.rcParams['font.family'] )

# 설정 되어있는 폰트 글꼴
['sans-serif']

In [5]:
plt.rc('font', family='Malgun Gothic')

In [6]:
da_1.head()

,시도코드,시도,시군구코드,시군구,읍면동코드,읍면동,행정리코드,행정리,조사가구번호,응답자명,...,q50.1.병의원못간이유_기타,q51.1년가구총소득,권역,st,영농형태,설계가중치,가구가중치,연령대,지역별연령대,가구원가중치
0,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,1,전은자,...,NaN,2.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
1,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,2,채전옥,...,NaN,3.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
2,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,3,김운영,...,NaN,1.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
3,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,4,김인수,...,NaN,4.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
4,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,5,홍인식,...,NaN,4.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242

In [7]:
year = 2018

# drop 할 column list 내려놓고, one hot 작업해야합니다

In [8]:
phqq_colname_list = []
for i in range(len(da_1.columns)):
    str_col = da_1.columns[i]
    if str_col.find('q48') != -1: # q48을 찾았는데 없지 않으면!
        col_index = i
        print('col index = ',i)
        print(da_1.columns[i],'\n')
        phqq_colname_list.append(str_col)
        
phqq_colname_list

col index =  272
q48.1.2주흥미재미

col index =  273
q48.2.2주우울절망

col index =  274
q48.3.2주수면

col index =  275
q48.4.2주피곤기력

col index =  276
q48.5.2주식욕저하과식

col index =  277
q48.6.2주자괴감

col index =  278
q48.7.2주산만함

col index =  279
q48.8.2주느림빠름

col index =  280
q48.9.2주자기상처생각

['q48.1.2주흥미재미',
 'q48.2.2주우울절망',
 'q48.3.2주수면',
 'q48.4.2주피곤기력',
 'q48.5.2주식욕저하과식',
 'q48.6.2주자괴감',
 'q48.7.2주산만함',
 'q48.8.2주느림빠름',
 'q48.9.2주자기상처생각']

In [9]:
phqq_col_list = []
for i in range(len(da_1.columns)):
    str_col = da_1.columns[i]
    if str_col.find('q48') != -1: # q48을 찾았는데 없지 않으면!
        col_index = i
        print('col index = ',i)
        print(da_1.columns[i],'\n')
        phqq_col_list.append(i)
        
phqq_col_list

col index =  272
q48.1.2주흥미재미

col index =  273
q48.2.2주우울절망

col index =  274
q48.3.2주수면

col index =  275
q48.4.2주피곤기력

col index =  276
q48.5.2주식욕저하과식

col index =  277
q48.6.2주자괴감

col index =  278
q48.7.2주산만함

col index =  279
q48.8.2주느림빠름

col index =  280
q48.9.2주자기상처생각

[272, 273, 274, 275, 276, 277, 278, 279, 280]

In [10]:
da_1.shape

(14846, 294)

In [11]:
da_1 = da_1.dropna(subset = phqq_colname_list)

In [12]:
da_1.shape

(10443, 294)

In [13]:
da_1 = da_1.reset_index(drop=True)
da_1

,시도코드,시도,시군구코드,시군구,읍면동코드,읍면동,행정리코드,행정리,조사가구번호,응답자명,...,q50.1.병의원못간이유_기타,q51.1년가구총소득,권역,st,영농형태,설계가중치,가구가중치,연령대,지역별연령대,가구원가중치
0,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,1,전은자,...,NaN,2.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
1,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,2,채전옥,...,NaN,3.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
2,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,3,김운영,...,NaN,1.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
3,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,4,김인수,...,NaN,4.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
4,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,5,홍인식,...,NaN,4.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10438,33,충청북도,33020,충주시,3302062,칠금동,330206203,칠금동03,7,한금자,...,NaN,8.0,충북,3,3,35.000000,66.722263,2,충북a2,134.819023
10439,33,충청북도,33020,충주시,3302062,칠금동,330206203,칠금동03,7,한금자,...,NaN,8.0,충북,3,3,35.000000,66.722263,1,충북a1,268.052955
10440,33,충청북도,33020,충주시,3302062,칠금동,330206203,칠금동03,8,송주섭,...,NaN,9.0,충북,3,3,35.000000,66.722263,4,충북a4,48.200108
10441,33,충청북도,33020,충주시,3302062,칠금동,330206203,칠금동03,9,김종천,...,NaN,8.0,충북,3,4,35.000000,56.896499,3,충북a3,67.099602
10442,33,충청북도,33020,충주시,3302062,칠금동,330206203,칠금동03,10,정평기,...,NaN,4.0,충북,3,4,35.000000,56.896499,3,충북a3,67.099602

In [14]:
# , 콤마 있는 col 을 우선 목록화 하고 거기서 관찰 후 one hot 대상 필수적인것 list로 만들것

idx_col_minus = []
idx_col_comma = []
num_nan = []
idx_col_nan_many = []
ncol = len(da_1.columns)
#da_1_fillna = da_1.fillna(0)
for idx_col in range(ncol):
    flag_minus = 0
    flag_comma = 0
    
    data_observ = []
    data_observ = da_1.iloc[:,idx_col] 
    
    str_summed = "".join(list(map(str,data_observ)))    
    if '-' in str_summed: # - 표시 확인
            flag_minus= 1
    if ',' in str_summed: # , 표시 확인
            flag_comma = 1

    if flag_minus == 1: # 행방향 관찰했는데 flag가 flag_minus면
        idx_col_minus.append(idx_col)
    if flag_comma == 1: # 행방향 관찰했는데 flag가 flag_comma
        idx_col_comma.append(idx_col)
        
    if idx_col % 50 == 0:
        print('idx_col:', idx_col)

    num_nan.append(data_observ.isna().sum())
    if num_nan[idx_col] > 10000:  # phqq_colname_list에서 결측치를 제거 했기때문에 행 수가 적어져 14000에서 10000으로 변경
        idx_col_nan_many.append(idx_col)
#         if type(data_observ.fillna:
#             flag_invalid = 1
        
print('num_nan,',num_nan)

idx_col: 0
idx_col: 50
idx_col: 100
idx_col: 150
idx_col: 200
idx_col: 250
num_nan, [0, 0, 0, 0, 0, 0, 0, 0, 0, 4, 10443, 0, 0, 0, 0, 0, 5420, 5420, 0, 3299, 3300, 0, 9537, 9538, 0, 9753, 9753, 0, 10182, 10199, 10435, 10435, 10370, 10370, 10443, 10387, 10385, 0, 10424, 10424, 10424, 138, 7, 0, 13, 0, 10443, 0, 0, 0, 0, 7180, 0, 8137, 0, 8597, 2, 0, 0, 0, 3028, 10443, 7141, 7158, 5763, 5773, 9728, 9731, 10011, 10012, 10432, 10431, 10431, 3042, 3038, 3042, 3042, 3040, 3040, 3043, 34, 0, 10443, 10443, 0, 0, 0, 9963, 0, 10008, 0, 9562, 2, 2864, 10443, 0, 8988, 10443, 0, 9389, 9394, 10443, 0, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 6389, 9175, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10442, 10200, 10443, 10443, 10441, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10442, 10387, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 10443, 9184, 10202, 10387, 9186, 10443, 10196, 10443, 10388, 10441, 9180, 9833, 10200, 10382, 10387, 10434, 9181, 10197, 10386, 9295, 10233, 10403, 9298, 10232, 10404, 9616, 10304, 10418, 9867, 10339, 10422, 6, 9329, 9329, 9331, 9886, 6, 9903, 9903, 9903, 10040, 7, 9705, 9705, 9705, 9896, 0, 1477, 1477, 1477, 3393, 0, 3748, 3748, 3748, 0, 5774, 5775, 5774, 0, 1808, 1809, 1808, 0, 1423, 1423, 1426, 0, 2237, 2237, 2238, 4, 5075, 5076, 6, 6701, 6701, 5, 5114, 9, 15, 12, 25, 15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 14, 9322, 10443, 1183, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
idx_col_nan_many[:5]

[10, 28, 29, 30, 31]

In [16]:
da_1.columns[idx_col_nan_many[5]]

'q2.5.3.축산규모_닭'

In [17]:
idx_col_comma

[80, 93, 270]

In [18]:
# comma 포함된 것 중에서 관찰 확정된 것 먼저 colname

idx_colname_onehot_firm = ['q1.주요작목명', 'q17.보험가입', 'q18.1.의료기관방문이유', 'q24.1.목허리통증지속', \
                           'q27.치료수술질병선택', 'q28.의사진단질병', 'q46.4.벌레보호대착용']
idx_colname_onehot_firm

['q1.주요작목명',
 'q17.보험가입',
 'q18.1.의료기관방문이유',
 'q24.1.목허리통증지속',
 'q27.치료수술질병선택',
 'q28.의사진단질병',
 'q46.4.벌레보호대착용']

In [19]:
# droplist 기준으로 idxcol 추가 
idx_col_onehot_firm = []

for idx_col in range(ncol):
    if da_1.columns[idx_col] in idx_colname_onehot_firm:
        idx_col_onehot_firm.append(idx_col)

print('idx_col_onehot_firm,',idx_col_onehot_firm)

idx_col_onehot_firm, [13, 80, 82, 93, 103, 120, 270]

In [20]:
da_1.iloc[:, 93]

0          5,6
1          5,6
2            5
3            5
4            5
         ...
10438      NaN
10439      NaN
10440        5
10441        5
10442    1,5,6
Name: q24.1.목허리통증지속, Length: 10443, dtype: object

In [21]:
# comma 포함된 것 중에서 관찰 확정된 것 먼저 colname

idx_colname_nohot_firm = ['q47.수면시간', 'q49.건강']
idx_colname_nohot_firm

['q47.수면시간', 'q49.건강']

In [22]:
# 확인된 nohot
idx_col_nohot_firm = []

for idx_col in range(ncol):
    if da_1.columns[idx_col] in idx_colname_nohot_firm:
        idx_col_nohot_firm.append(idx_col)

print('idx_col_nohot_firm,',idx_col_nohot_firm)

idx_col_nohot_firm, [271, 281]

In [23]:
idx_col_comma

[80, 93, 270]

In [24]:
for idx_col in idx_col_comma:
    print('idx_col_comma,',da_1.columns[idx_col])

idx_col_comma, q17.보험가입
idx_col_comma, q24.1.목허리통증지속
idx_col_comma, q46.4.벌레보호대착용

In [25]:
for idx_col in idx_col_minus:
    print('idx_col_minus,',da_1.columns[idx_col])

idx_col_minus, q2.주요작목코드

In [26]:
idx_colname_drop = [ '시도코드', '시도', '시군구', '시군구코드', '읍면동코드', '읍면동', '행정리코드', '행정리', '조사가구번호',\
                     '응답자명', '응답자연락처', '조사원성명', '조사일시', 'q1.주요작목명', 'q5.성명', '권역', '지역별연령대',\
                     '가구원번호',\
                     'q48.1.2주흥미재미', 'q48.2.2주우울절망', 'q48.3.2주수면', 'q48.4.2주피곤기력', 'q48.5.2주식욕저하과식',\
                     'q48.6.2주자괴감', 'q48.7.2주산만함', 'q48.8.2주느림빠름', 'q48.9.2주자기상처생각' ]

idx_colname_drop.append('응답자연락처')
idx_colname_drop.append('q2.주요작목코드')
idx_colname_drop.append('q27.기타 근골격계')
idx_colname_drop.append('q28.기타 근골격계')
idx_colname_drop.append('q28.의사진단질병_기타')

idx_colname_drop.append('설계가중치') # 가중치는 고민중
idx_colname_drop.append('가구가중치') # 가중치는 고민중
idx_colname_drop.append('가구원가중치') # 가중치는 고민중
# comma 기준 droplist 추가 끝

In [27]:
# droplist 기준으로 idxcol 추가 
idx_col_drop = []

for idx_col in range(ncol):
    if da_1.columns[idx_col] in idx_colname_drop:
        print(da_1.columns[idx_col])
        idx_col_drop.append(idx_col)

#print('idx_col_drop,',idx_col_drop)

시도코드
시도
시군구코드
시군구
읍면동코드
읍면동
행정리코드
행정리
조사가구번호
응답자명
응답자연락처
조사원성명
조사일시
q1.주요작목명
q2.주요작목코드
가구원번호
q5.성명
q27.기타 근골격계
q28.기타 근골격계
q28.의사진단질병_기타
q48.1.2주흥미재미
q48.2.2주우울절망
q48.3.2주수면
q48.4.2주피곤기력
q48.5.2주식욕저하과식
q48.6.2주자괴감
q48.7.2주산만함
q48.8.2주느림빠름
q48.9.2주자기상처생각
권역
설계가중치
가구가중치
지역별연령대
가구원가중치

In [28]:
# str 여부가 중요함. 그런데 위에서 nan many를 걸렀더니 전부 사라짐
#if year == 2018:
idx_col_str = []
for idx_col in range(ncol): # str이면 크기 비교로 one hot column을 결정할 수 없으므로 
    flag_str = 0
    if idx_col in idx_col_drop:
        pass
    elif idx_col in idx_col_nan_many:
        pass
    elif idx_col in idx_col_onehot_firm:
        pass
    else: # nan 많지 않고,  onehot 확정된거 아닌 중에,  str이 아니면 아래것을 관찰 가능
        data_observ = []
        data_observ = da_1.iloc[:,idx_col]

        nrow = len(data_observ)
        for idx_row in range(1, nrow):
            if type(data_observ[idx_row]) == str:
                flag_str = 1
        
        if flag_str == 1:        
            print('idx_col_str', idx_col)                
            idx_col_str.append(idx_col)

In [29]:
# one hot 필요하지 않은 숫자 컬럼 걸러내기 예를 들어 data_observ > 10
#if year == 2018:
idx_col_nohot = []
for idx_col in  range(ncol): # str이면 크기 비교로 one hot column을 결정할 수 없으므로 
    data_over10 = 0
    if idx_col in idx_col_nohot_firm:
        idx_col_nohot.append(idx_col)
        data_observ.fillna(0)
    elif idx_col in idx_col_drop:
        pass
    elif idx_col in idx_col_nan_many:
        pass
    elif idx_col in idx_col_onehot_firm:
        pass
    else: # nan 많지 않고,  onehot 확정된거 아닌 중에,  str이 아니면 아래것을 관찰 가능
        data_observ = []
        data_observ = da_1.iloc[:,idx_col]     
        data_over10 = data_observ[data_observ > 70].sum()

#     for idx_row in range(1, nrow):
#         if type(data_observ[idx_row]) == 'str':
#             print('idx_row', idx_row)
#     #print(len(data_over10))
    if data_over10 != 0:
        idx_col_nohot.append(idx_col)
        data_observ.fillna(0)
#         for idx_row in range(len(data_observ)-1):
#                da_1.iloc[idx_row,idx_col] == np.nan

#             data_observ[idx_row]
print(idx_col_nohot)

[16, 17, 19, 20, 22, 25, 49, 56, 62, 64, 66, 199, 213, 216, 271, 281]

In [30]:
idx_col_drop_nan_many = idx_col_drop + idx_col_nan_many
print('idx_col_drop_nan_many,',idx_col_drop_nan_many)

idx_col_drop_nan_many, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 43, 44, 105, 122, 136, 272, 273, 274, 275, 276, 277, 278, 279, 280, 286, 289, 290, 292, 293, 10, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 46, 61, 68, 69, 70, 71, 72, 82, 83, 89, 94, 97, 101, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 190, 191, 193, 194, 195, 196, 197, 200, 201, 202, 203, 205, 206, 208, 209, 211, 212, 214, 215, 217, 218, 228, 284]


# One hot

In [31]:
# 안교수님 코드 참고
# new_header=[]
# new_values=[[] for i in range(nrow)]

# for j in range(ncol):
#     dic_key2seti={}
#     for i in range(nrow):
#         for v in values[i][j].split(','):
#             v = v.strip()
#             if v == '':
#                 continue
#             if v not in dic_key2seti:
#                 dic_key2seti[v] = set()
#             dic_key2seti[v].add(i)
    
#     for key, set_i in sorted(dic_key2seti.items(), key=lambda x:len(x[1]), reverse=True):
#         new_header.append('%s.%s'%(header[j],key))
#         for i in range(nrow):
#             if i in set_i:
#                 new_values[i].append('1')
#             else:
#                 new_values[i].append('0')

In [32]:
da_1_col_list = da_1.columns
header_list = da_1_col_list.tolist()
#header_list = header_list[0][1:]
print('header_list',header_list[:4])

header_list ['시도코드', '시도', '시군구코드', '시군구']

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

idx_col_cum_onehot = 0
idx_col_onehot = []

new_header = []
num_op_list = []
idx_nan = []
for idx_col in range(ncol):
    colname = []
    print(idx_col)
    if idx_col in idx_col_drop_nan_many:
        pass
    
    elif idx_col in idx_col_nohot:
        pass
    
    else: # elif idx_col in idx_col_onehot_firm: 이것은 포함되어 있을 확률이 높음
#         target_ohe = []
        data_observ = da_1.iloc[:,idx_col]
        target_ohe = da_1[[ da_1.columns[idx_col] ]]
        str_summed = "".join(list(map(str,data_observ))) 
        # idx_col_one_hot이 추가되기 전에 해당 col drop   
        idx_col_onehot.append(idx_col)
        flag_op_plus = 0
        if ',' in str_summed:
            data_maxforhot = [] # col마다 초기화 row 전체 확인
            for idx_row in range(len(data_observ)):
                if 'nan' in str(data_observ[idx_row]):
                    flag_op_plus = 1
                else:
                    data_tmp_1 = str(data_observ[idx_row]).split(sep=',')
                    data_tmp_list_int = list(map(int, data_tmp_1))
                    #print('data_tmp_1,', np.max(data_tmp_list) )
                    data_maxforhot.append(np.max(data_tmp_list_int))

            # 해당 row를 모두 돌아가며 그 최대값을 알아낸 다음
            if flag_op_plus == 1:
                num_op = np.max(data_maxforhot) + 1 # 정답 옵션 op 의 숫자 = 최대 숫자 + 1  nan 때문
            else:
                num_op = np.max(data_maxforhot) # 정답 옵션 op 의 숫자 = 최대 숫자
            
            num_op_list.append(num_op)
            #print('num_op,',num_op)
            #colname = list(map(str, range(0,num_op))) # 0부터 최대 숫자 전까지 range를  str list로 colname 지정
            
            for idx_op in range(num_op): # colname과 새로운 header를 만듦
                colname.append('%s.%s'%(header_list[idx_col],idx_op + 1 )) # op 설문지대로 +1 0->1로 기록되도록 
                new_header.append('%s.%s'%(header_list[idx_col],idx_op + 1))
            
            # 해당 row를 모두 돌아가며 그 최대값을 알아낸 다음
            for idx_row in range(len(data_observ)):
                if idx_row == 0: # 처음은 0으로 채워줍니다 
                    data_one_hot_eachp = np.zeros(num_op)
                    
                if 'nan' in str(data_observ[idx_row]):                # 빈칸도 data_one_hot 맨끝 
                    idx_nan.append(idx_row)
                    #print(da_1.columns[idx_col])
                    data_one_hot_eachp[num_op-1] = 1 # 응답의 번호 = 그 최대 옵션의 -1이 됨

                else:
                    data_tmp_1 = str(da_1.iloc[idx_row,idx_col]).split(sep=',')
                    for ans in list(map(int, data_tmp_1)): # str을 다시 int로 될까  map으로 한꺼번에 한다음, 그 결과를 리스트로
                        data_one_hot_eachp[ans-1] = 1 # 응답의 번호가 7이라면, 위치 idx는 0부터 시작하므로 6으로 저장돼야함
    #                         #print('data_one_hot_eachp:',data_one_hot_eachp)
        
                # 주의 idx_row == 0 조건은 같아도 맨 위에 zeros 깔아주는 것과 데이터 저장 다름
                if idx_row == 0:
                    tmp_one_hot = pd.DataFrame([data_one_hot_eachp], columns = colname) # [[]] df는 괄호 두개 
 #                   tmp_one_hot = pd.DataFrame([data_one_hot_eachp]) # [[]] df는 괄호 두개 
                else:
                    tmp_one_hot = pd.concat([tmp_one_hot, pd.DataFrame([data_one_hot_eachp], columns = colname)],axis=0)
#                    tmp_one_hot = pd.concat([tmp_one_hot, pd.DataFrame([data_one_hot_eachp])],axis=0)

                        # Reindexing only valid with uniquely valued Index objects
                    # eachp의 모든행을 다 연결하고 나면 df
            df_ohe_tmp = tmp_one_hot.reset_index()
            
        else:
            ohe.fit(target_ohe)
            ohe_tmp = ohe.transform(target_ohe)
            num_op = np.shape(ohe_tmp)[1]
            num_op_list.append(num_op)
            
            for idx_op in range(num_op): # colname과 새로운 header를 만듦
                colname.append('%s.%s'%(header_list[idx_col],idx_op + 1  )) 
                new_header.append('%s.%s'%(header_list[idx_col],idx_op + 1 ))
                
            df_ohe_tmp = pd.DataFrame(ohe_tmp, columns = colname)

        if idx_col_cum_onehot == 0:
            da_1_one_hot_raw = df_ohe_tmp
        else:    
            da_1_one_hot_raw = pd.concat([da_1_one_hot_raw, df_ohe_tmp], axis=1)
            
        idx_col_cum_onehot = idx_col_cum_onehot+1

            #print(data_one_hot)
#     data_one_hot_eachq = data_one_hot
#     del data_one_hot
#  = pd.concat(da_1_con_onehot, data_one_hot_eachq)

In [34]:
na_feature = da_1_one_hot_raw.isna().sum()

idx_na_feat = na_feature[na_feature > 0]
print(idx_na_feat)

Series([], dtype: int64)

In [35]:
da_1_one_hot_raw.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [36]:
da_1_one_hot = da_1_one_hot_raw.drop(columns=['index'])

In [37]:
da_1_one_hot['q50.병의원못감.2'].sum()

9308.0

In [38]:
da_1_nohot = da_1.copy()
da_1_nohot.head()

,시도코드,시도,시군구코드,시군구,읍면동코드,읍면동,행정리코드,행정리,조사가구번호,응답자명,...,q50.1.병의원못간이유_기타,q51.1년가구총소득,권역,st,영농형태,설계가중치,가구가중치,연령대,지역별연령대,가구원가중치
0,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,1,전은자,...,NaN,2.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
1,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,2,채전옥,...,NaN,3.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
2,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,3,김운영,...,NaN,1.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
3,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,4,김인수,...,NaN,4.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242
4,32,강원도,32030,강릉시,3203061,내곡동,320306101,내곡동01,5,홍인식,...,NaN,4.0,강원,3,2,35.975758,25.005364,4,강원a4,23.382242

In [39]:
idx_col_for_nohot = idx_col_drop_nan_many + idx_col_onehot
da_1_nohot.drop(da_1.columns[idx_col_for_nohot],axis=1,inplace=True)

In [40]:
da_1_nohot_nonan = da_1_nohot.fillna(0)
da_1_nohot_nonan

,q2.1.논농사규모,q2.1논농사기간,q2.2.밭농사규모,q2.2.밭농사기간,q2.3.과수원규모,q2.4.시설규모,q9.연령,q13.농업종사기간,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강
0,0.0,0.0,1000.0,40.0,0.0,0.0,70,40.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0
1,0.0,0.0,1000.0,60.0,0.0,0.0,87,60.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,0.0,0.0,990.0,40.0,0.0,0.0,78,40.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
3,0.0,0.0,2540.0,50.0,0.0,0.0,79,40.0,0.0,12.0,0.0,0.0,0.0,0.0,6.0,2.0
4,0.0,0.0,1600.0,30.0,0.0,0.0,75,30.0,0.0,0.0,0.0,250.0,0.0,0.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10438,0.0,0.0,0.0,0.0,39669.0,0.0,54,10.0,0.0,0.0,18.0,0.0,0.0,0.0,7.0,0.0
10439,0.0,0.0,0.0,0.0,39669.0,0.0,49,10.0,0.0,0.0,18.0,0.0,0.0,0.0,7.0,2.0
10440,0.0,0.0,0.0,0.0,6611.0,0.0,70,50.0,0.0,0.0,2.0,0.0,0.0,0.0,6.0,4.0
10441,0.0,0.0,0.0,0.0,0.0,9917.0,66,45.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0
10442,0.0,0.0,0.0,0.0,0.0,6611.0,62,40.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0

In [41]:
df_onehot_nohot = pd.concat( [da_1_one_hot, da_1_nohot_nonan], axis = 1 )
df_onehot_nohot

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q9.연령,q13.농업종사기간,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,70,40.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,87,60.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,78,40.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,79,40.0,0.0,12.0,0.0,0.0,0.0,0.0,6.0,2.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,75,30.0,0.0,0.0,0.0,250.0,0.0,0.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10438,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,54,10.0,0.0,0.0,18.0,0.0,0.0,0.0,7.0,0.0
10439,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,49,10.0,0.0,0.0,18.0,0.0,0.0,0.0,7.0,2.0
10440,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,70,50.0,0.0,0.0,2.0,0.0,0.0,0.0,6.0,4.0
10441,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,66,45.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0
10442,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,62,40.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0

# nohot 부분은 one hot 부분 drop하고 남은 것이 될테니 그때 fillna(0) 하면됨
#     if idx_col in idx_col_nohot:
#         idx_col_cum_nohot = idx_col_cum_nohot + 1

# label  설정!  phq를 활용함

In [42]:
phq_base = da_1.iloc[:,phqq_col_list[0]]
#phq_base = pd.DataFrame(phq_base)

In [43]:
type(phq_base)

pandas.core.series.Series

In [44]:
for idx_col in range(len(phqq_col_list)-1):
    idx_col = idx_col + 1 # idx 1부터 원래길이 - 1
    #df_tmp = pd.DataFrame(da_1.iloc[:,phqq_col_list[idx_col]])
    data_series = da_1.iloc[:,phqq_col_list[idx_col]] - 1 # 각 항목이 1씩 더해진상태, 1번은 0점 2번은 1점
    phq_base = pd.concat([phq_base,data_series],axis=1)

In [45]:
phq_base.head()

,q48.1.2주흥미재미,q48.2.2주우울절망,q48.3.2주수면,q48.4.2주피곤기력,q48.5.2주식욕저하과식,q48.6.2주자괴감,q48.7.2주산만함,q48.8.2주느림빠름,q48.9.2주자기상처생각
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0

In [46]:
phq = phq_base.sum(axis=1)  
phq

0         1.0
1         7.0
2         3.0
3         3.0
4         5.0
         ...
10438     1.0
10439     2.0
10440     1.0
10441    10.0
10442     4.0
Length: 10443, dtype: float64

In [47]:
max(phq)

28.0

attribute df를 만들고 나서 target열 추가

In [48]:
df = df_onehot_nohot.copy()
np.shape(df)

(10443, 748)

In [49]:
df["phq"] = phq
df.head()

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q13.농업종사기간,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강,phq
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,2.0,1.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,60.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,7.0
2,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,3.0
3,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,40.0,0.0,12.0,0.0,0.0,0.0,0.0,6.0,2.0,3.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,30.0,0.0,0.0,0.0,250.0,0.0,0.0,5.0,3.0,5.0

In [50]:
# target 27 초과는 행삭제

data_observ = []
data_observ = df['phq']
    
for idx_row in range(0,len(data_observ)): # 행인덱스 0에서 시작
    if data_observ.iloc[idx_row] > 27:
        df = df.drop(df.index[idx_row])
    elif data_observ.iloc[idx_row] < 0:
        df = df.drop(df.index[idx_row])

In [51]:
df.shape

(10439, 749)

In [52]:
sorted_phq_9 = df['phq'].copy()
sorted_phq_9 = sorted(sorted_phq_9)
sorted_phq_9[-10:]

[22.0, 23.0, 23.0, 24.0, 24.0, 25.0, 26.0, 28.0, 28.0, 28.0]

In [53]:
# labeling   1,  0 시작

In [54]:
#idx_cum = 0
idx_row_severe = []
idx_row_moderately_severe = []
idx_row_moderate = []
idx_row_mild = []
idx_row_minimal = []
for idx_row in range(len(df['phq'])):
    if df['phq'].iloc[idx_row] >= 21:
        #idx_cum = idx_cum + 1
        idx_row_severe.append(idx_row)
    elif df['phq'].iloc[idx_row] >= 15:
        idx_row_moderately_severe.append(idx_row)
    elif df['phq'].iloc[idx_row] >= 10:
        idx_row_moderate.append(idx_row)
    elif df['phq'].iloc[idx_row] >= 5:
        idx_row_mild.append(idx_row)
    else:
        idx_row_minimal.append(idx_row)

In [55]:
# 2018
print('depre_num: ',len(idx_row_severe), len(idx_row_moderately_severe), len(idx_row_moderate), len(idx_row_mild), len(idx_row_minimal))
print('depre_totalnum: ', len(idx_row_severe)+len(idx_row_moderately_severe)+len(idx_row_moderate)+len(idx_row_mild)+len(idx_row_minimal))

depre_num:  26 67 364 1990 7992
depre_totalnum:  10439

In [56]:
#idx_row_severegroup_to2 = idx_row_severe + idx_row_moderately_severe + idx_row_moderate + idx_row_mild
idx_row_severegroup_to2 = idx_row_severe + idx_row_moderately_severe + idx_row_moderate
print(idx_row_severegroup_to2[:109])

[717, 1261, 1484, 1773, 1959, 2039, 3044, 4478, 5000, 5796, 6087, 7252, 8556, 8569, 8584, 8676, 8729, 8855, 8994, 9052, 9160, 9207, 9432, 10364, 10379, 10380, 273, 425, 426, 588, 589, 1297, 1510, 1539, 1686, 1960, 1968, 1969, 2069, 2573, 2794, 2831, 3119, 3330, 3337, 3790, 4017, 4253, 4276, 4277, 4466, 4467, 4983, 4984, 4986, 4994, 5003, 5032, 5744, 5745, 5957, 5964, 5967, 6010, 6618, 7342, 8371, 8455, 8458, 8504, 8617, 8655, 8721, 8801, 8825, 8848, 8851, 8862, 8871, 8992, 9252, 9254, 9321, 9351, 9819, 9826, 10178, 10288, 10318, 10353, 10382, 10392, 10398, 168, 335, 363, 377, 378, 394, 400, 422, 438, 441, 444, 446, 459, 474, 475, 492]

In [57]:
df_phqsevere = df.iloc[idx_row_severegroup_to2,:].copy()
df_phqsevere

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q13.농업종사기간,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강,phq
717,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,20.0,0.0,5.0,0.0,0.0,0.0,0.0,4.0,4.0,22.0
1261,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,65.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0,21.0
1484,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,45.0,0.0,20.0,0.0,2.0,6000000.0,0.0,5.0,3.0,22.0
1773,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,60.0,4.0,0.0,0.0,0.0,0.0,0.0,9.0,4.0,21.0
1959,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,50.0,0.0,3.0,0.0,0.0,0.0,0.0,7.0,4.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10392,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,59.0,0.0,20.0,0.0,0.0,0.0,0.0,7.0,2.0,10.0
10406,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0
10408,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,50.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0
10428,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,40.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,3.0,12.0
10441,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,45.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0,10.0

In [58]:
df_phqsevere['target'] = 1
df_phqsevere

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강,phq,target
717,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,4.0,4.0,22.0,1
1261,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0,21.0,1
1484,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,20.0,0.0,2.0,6000000.0,0.0,5.0,3.0,22.0,1
1773,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,9.0,4.0,21.0,1
1959,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,7.0,4.0,25.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10392,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,20.0,0.0,0.0,0.0,0.0,7.0,2.0,10.0,1
10406,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,1
10408,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,13.0,1
10428,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,3.0,12.0,1
10441,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,4.0,10.0,1

In [59]:
# random 하게 섞어서  최소 그룹으로부터  케이스 샘플하여  balance 맞추다
idx_row_random = np.random.permutation(len(idx_row_severegroup_to2))
print(idx_row_random[:5])
#idx_row_minimal

idx_row_minimal_permuted = np.random.permutation(idx_row_minimal)
print(idx_row_minimal_permuted[:5])

idx_row_minimal_permuted_sel = idx_row_minimal_permuted[idx_row_random] # 섞여진 많은 쪽 idx의 순서를 그 범위 내의idx_row_random으로 선택함
print(idx_row_minimal_permuted_sel[:5])

[265 252 119 448 369]
[ 2746  9680  3747 10357  1820]
[8601 4088 8238 5115 2604]

In [60]:
df_phqmin = df.iloc[idx_row_minimal_permuted_sel,:].copy()
df_phqmin

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q13.농업종사기간,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강,phq
8601,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,50.0,3.0,0.0,0.0,15.0,4500000.0,0.0,7.0,1.0,2.0
4088,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,58.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,4.0,4.0
8238,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,45.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,1.0
5115,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,50.0,0.0,3.0,0.0,0.0,0.0,0.0,5.0,2.0,4.0
2604,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,50.0,1.0,10.0,0.0,0.0,0.0,0.0,7.0,3.0,1.0
9024,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,30.0,1.0,32.0,0.0,0.0,0.0,0.0,8.0,3.0,1.0
162,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,26.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,1.0
4205,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,66.0,0.0,5.0,0.0,0.0,0.0,0.0,6.0,5.0,4.0
1834,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,50.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,3.0

In [61]:
df_phqmin['target'] = 0
df_phqmin

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강,phq,target
8601,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,15.0,4500000.0,0.0,7.0,1.0,2.0,0
4088,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,4.0,4.0,0
8238,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,1.0,0
5115,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,5.0,2.0,4.0,0
2604,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,3.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,0.0,0.0,0.0,7.0,3.0,1.0,0
9024,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,32.0,0.0,0.0,0.0,0.0,8.0,3.0,1.0,0
162,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,1.0,0
4205,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,6.0,5.0,4.0,0
1834,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,3.0,0

In [62]:
df_all = pd.concat([df_phqsevere, df_phqmin], axis = 0)
df_all_backup = df_all.copy()
df_all

,q2.1.논농사수행여부.1,q2.1.논농사수행여부.2,q2.2.밭농사수행여부.1,q2.2.밭농사수행여부.2,q2.3.과수원수행여부.1,q2.3.과수원수행여부.2,q2.3.과수원기간.1,q2.3.과수원기간.2,q2.3.과수원기간.3,q2.3.과수원기간.4,...,q16.2.1.논_농약사용횟수,q16.2.2.밭_농약사용횟수,q16.2.3.과수_농약사용횟수,q32.일못한일수기타1,q33.3.치료비용1,q33.4.치료보험금액1,q47.수면시간,q49.건강,phq,target
717,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,4.0,4.0,22.0,1
1261,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0,21.0,1
1484,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,20.0,0.0,2.0,6000000.0,0.0,5.0,3.0,22.0,1
1773,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,9.0,4.0,21.0,1
1959,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,7.0,4.0,25.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2800,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,10.0,0.0,0.0,0.0,0.0,7.0,3.0,1.0,0
9024,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,32.0,0.0,0.0,0.0,0.0,8.0,3.0,1.0,0
162,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,2.0,1.0,0
4205,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,6.0,5.0,4.0,0
1834,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,3.0,0